#logo {
  position: relative;
  width: 10em;
  font-size: 1.25em;
}

#logo:after {
  content: "";
  position: absolute;
  left: 2.4em;
  right: 2.4em;
  top: 4.7em;
  width: 5.2em;
  height: 0.9em;
  background: black;
  box-shadow: 0 1.5em 0 0 black;
}

#logo:before {
  content: "";
  position: absolute;
  left: 3.05em;  
  top: 2.8em;
  width: 1.3em;
  height: 1.3em;
  background: black;
  border-radius: 100%;
  box-shadow: 2.6em 0 0 0 black;
}
