#logo {
  position: relative;
  font-size: 100px;
  width: 100px;
  height: 100px;
}

#logo:after {
  content: "";
  position: absolute;
  left: 0.24em;
  right: 0.24em;
  top: 0.47em;
  width: 0.52em;
  height: 0.09em;
  background: black;
  box-shadow: 0 0.15em 0 0 black;
  -moz-box-shadow: 0 0.15em 0 0 black;
  -webkit-box-shadow: 0 0.15em 0 0 black;
}

#logo:before {
  content: "";
  position: absolute;
  left: 0.305em;  
  top: 0.28em;
  width: 0.13em;
  height: 0.13em;
  background: black;
  border-radius: 100%;
  box-shadow: 0.26em 0 0 0 black;
  -moz-box-shadow: 0.26em 0 0 0 black;
  -webkit-box-shadow: 0.26em 0 0 0 black;
}
